h2 {
  opacity: 0;  
  transition: opacity 0.8s;
}

h2.visible {
  opacity: 1;
}

h2 {
  margin: 40vh 0;
  color: white;
  text-align: center;
  font-size: 50px;
  padding: 0 20%;
  position: relative;
}

.text-container {
   margin-top: -50vh;
}

.dummy-section {
  height: 60vh;
  text-align: center;
}

.dummy-section h1 {
  font-size: 80px;
  margin-top: 30vh;
}

.big-container {
  min-height: 600vh;
}
